body{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color:#F5F8FA;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 50px 0px 0px 50px;
}

.tweet {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 100px;
  padding-bottom: 2em;
}

.ugly-face {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  margin-right: 10px;
}

.dumb-name {
  margin: 0;
  font-weight: bold;
}

.verified {
  height: 15px;
  padding: 0px 15px 0px 5px;
}

.dumb-handle {
  color: #657786
}

.tweet-body {
  background-color: #E1E8ED;
  border-radius: 10px;
  padding: 10px;
}

.really-smart-words {
  color:#14171A;
  margin: 0;
}

.source {
  color: #1DA1F2;
}